<nav class="navbar navbar-expand-lg navbar-dark nav-custom">
  <a class="navbar-brand" href="/dashboard">
    <img src="/images/amelia-icon.png" class="logo"> <span class="logo-title">AMELIA</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#amelia-navbar"
    aria-controls="amelia-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="amelia-navbar">
    <div class="navbar-nav ml-auto py-2">
      <a class="nav-item nav-link btn bg-none border-0 mx-1" href="/login">Login</a>
      <a class="nav-item nav-link btn bg-primary custom border-0 mx-1" href="/signup">Sign Up</a>
    </div>
  </div>
</nav>

<div class="container landing h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-6">
      <img src="/images/amelia_logo.png" class="img-fluid p-3">
    </div>
    <div class="col-lg-6">
      <h1 class="landing">Amelia helps you effectively organize and plan your trip. So you can
        relax and explore.</h1>
      <p class="lead landing">
        Amelia offers tools like a trip planner, budget calculator, guest
        organizer and more to allow you to create the perfect trip, or at
        least help you decide where and when you want to explore your next
        destination.
      </p>
      <a href="/signup" class="btn btn-lg btn-light mt-3">Explore With Us &mdash; It's Free!</a>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
  $('body').css('background', '#1F2756');
</script>